.container {
    width:950px;
    margin: 0 auto;
    overflow: hidden;
}

.menu {
    background-color: green;
    overflow:hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.articleItem {
    height: 300px;
    width: 450px;
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
}

.articleInfo {
    width: 240px;
    float: left;
}

.articleImage {
    float: right;
    margin-right: 5px;
}

#channel {
    margin-left: 20%;
    margin-right: 120px;
    float: left;
}

#channelInput {
    padding: 5px;
    width: 300px;
}

#numberOfRecords {
    overflow: hidden;
}

#numberOfRecordsInput {
    padding: 5px;
}

#articles {
    margin-top: 30px;
    clear: both;
    text-align: center;
}
